.about-us{
    height: 70vh;
    gap: 2rem !important;
    background-size: cover;
    align-content: center;
}
.who{
    margin-left: 150px ;
    margin-bottom: 25px;
    align-items: flex-end;
    float: right;
    padding: auto;
}
.who-we-are{
    color: #094AAD;
   
}

.video{
    max-width: 400px;
}

summary{
    color: #094AAD;
}
@media screen and (max-width:940px) {
    .about-us{
        display: block;
    }
    .who{
        margin: auto;
        text-align: center;
    }
    .who-we-are{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem; 
    }
   
    
}
