.about-us{
    max-height: 100%;
    gap: 2rem !important;
    background-color: #fff;
    background-size: cover;
    align-content: center;
    justify-content: space-between;
    display: flex;
    flex-direction: center;
}

.who{
    margin-top: 100px;
    margin-left: 150px ;
    margin-bottom: 25px;
    align-items: flex-end;
    float: right;
    padding: auto;
}
.who-we-are{
    margin-top: 25px;
    color: #094AAD;
}
.who-we-are-2{
    font-size: 1.5rem;
    color: black;
}

p{
    font-size: 1.125;
}

.about-img{
    width: 400px
}
summary{
    color: #094AAD;
}
@media screen and (max-width:940px) {
    .about-us{
        max-height: 100%;
        
    }
    .about{
        display: block;
    }
    .who{
        margin: auto;
        text-align: center;
    }
    .who-we-are{
        font-size: 1.5rem;
    }
    .who-we-are-2{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem; 
    }
    
}