.hero{
    background-color: #fff;
    height: 100vh;
    width:max-content;
    position: relative;
    justify-content: space-between;
    gap: 2rem;
}

.hero:before {
    content: '';
    background: url(./images/headerbg.png) no-repeat cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.heroh1{
    color: var(--primary-dark);
    font-size: 3rem;
    font-weight: 800;
    margin-top: 150px;
    
}
.heroh{
    color: var(--primary-dark);
    font-size: 3rem;
    font-weight: 800;
}


.herop{
font-size: 1.2rem;
font-weight: 700;
margin-left: 10px;
}
.hero-img{
    width: 450px;
}
.hero .button{
    margin: 1rem;
}
.hero .button:hover{
    background-color: #fff;
    cursor: pointer;
}

@media screen and (max-width:940px) {
   
    .heroh1, .heroh{
        font-size: 2rem;
    }
    .herop{
        font-size: 0.8rem;
    }
.hero-img{
    display: none;
}

}
    