.hero1{
    background-color: #e2eefc;
    height: 100vh;
    
}
.hero{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 120px 0 0 0px;
}

.heroh1{
    color: var(--primary-dark);
    font-size: 3rem;
    font-weight: 800;
    padding-left: 50px;
    
}
.heroh{
    color: var(--primary-dark);
    font-size: 3rem;
    font-weight: 800;
    padding-left: 50px;
}


.herop{
font-size: 1.2rem;
margin-left: 5px;
padding-left: 50px;
}
.hero-img{
    width: 400px;
    margin: auto;
    margin-left: 40px;
    margin-top: 40px;
}

.hero .button:hover{
    background-color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 940px) {
   .hero1{
    
    margin-bottom: 5px;
   }
    .hero{
    max-height: 100%;
    padding-top: 10px;
   }
    .heroh1 {
        margin-top: 10px;
        font-size: 2rem;
    }
    .heroh{
        font-size: 2rem;
    }
    .herop{
        font-size: 0.8rem;
    }
    .hero-img{
        width: 250px;
        align-items: center;
        float: center;
    }

}
    