#button {
    padding: 2px 10px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #0646a5;
    background: linear-gradient(to right, var(--primary-color), var(--primary-dark)); 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: none;
    margin: 20px 10px;
    outline: none;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    cursor:pointer;
  }