.navbar {
    position: fixed;
}

.criberr{
    width: 200px;
    height: auto;
}

.nav-float{
    color: var(--primary-color) !important;
    font-weight: 600 !important;
}

.nav-float:hover {
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary-dark);
}



@media screen and (max-width: 760px){
    .header{
        max-width: 100%;
    }

    .criberr{
        width: 150px;
    }
}