:root{
  --primary-color:#094aad;
  --primary-dark:#0646a5;
  --overlay: rgb(0,0,0,.7)

}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
  line-height: 1.2;
}

code {
  font-family: 'Montserrat', sans-serif;
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: var(--primary-color);
}

.button {
  padding: 10px 10px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  background-color: var(--primary-color);
  border: none;
  margin: auto;
  outline: none;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  font-family: 'Montserrat', sans-serif;
}